<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Device Monitor</title>
    <link rel="stylesheet" href="/static/style.css?v=7">
    </head>
<body>
    <div class="container">
        <header>
            <h1>📡 Монитор сетевых устройств</h1>
            <div class="stats">
                <span id="online-count">0 онлайн</span>
                <span id="total-count">0 всего</span>
                <span id="last-update">Обновление: -</span>
            </div>
        </header>

        <!-- Панель управления -->
        <div class="controls">
            <button id="refreshBtn">🔍 Сканировать сеть</button>
            <button id="add-device-btn">➕ Добавить устройство</button>
            <button id="snmp-settings-btn">⚙️ Настройки SNMP</button>
			<button onclick="openUsers()">👥 Управление пользователями</button>
			<button onclick="logout()">🔑 Выйти</button>
        </div>

        <!-- Модальное окно авторизации -->
        <div class="modal" id="loginModal" style="display:none;">
            <div class="modal-content">
                <h3>Авторизация</h3>
                <form id="loginForm">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" required>

                    <label for="password">Пароль:</label>
                    <input type="password" id="password" required>

                    <div style="text-align:right;">
                        <button type="submit" style="background:#007bff; color:white;">Войти</button>
                        <button type="button" id="cancelLogin">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
		<div id="usersModal" class="modal hidden">
		<div class="modal-content wide">
			<h3>👥 Управление пользователями</h3>

			<div id="usersList"></div>

			<button class="btn btn-success" id="openAddUserBtn">➕ Добавить пользователя</button>
			<button class="btn btn-secondary" id="closeUsersBtn">Закрыть</button>

		    </div>
		</div>
		
		<div id="addUserModal" class="modal hidden">
		  <div class="modal-content">
			<h3>➕ Новый пользователь</h3>

			<input id="newLogin" placeholder="Логин">
			<input id="newPass" type="password" placeholder="Пароль">
			<input id="newPass2" type="password" placeholder="Повтор пароля">

			<select id="newRole">
			  <option value="user">Пользователь</option>
			  <option value="monitor">Монитор</option>
			  <option value="admin">Администратор</option>
			</select>

			<p id="addUserError" class="error"></p>

			<button id="createUserBtn">Создать</button>
			<button id="closeAddUserBtn">Отмена</button>
		  </div>
		</div>
		
        <!-- Контейнер для карточек -->
        <div class="devices-grid" id="devicesContainer">
            <!-- JS вставит сюда устройства -->
        </div>

        <!-- Настройки SNMP -->
        <div id="snmpModal" class="modal" style="display:none;">
		  <div class="modal-content">
			<h3>⚙️ Настройки SNMP</h3>
			<form id="snmpForm">
			  <label>IP диапазон:<br><input type="text" id="ipRange"></label><br><br>
			  <label>Timeout (сек):<br><input type="number" id="timeout"></label><br><br>
			  <label>Retries:<br><input type="number" id="retries"></label><br><br>
			  <label>Community:<br><input type="text" id="community"></label><br><br>

			  <h3>SNMPv3 (необязательно)</h3>
			  <label>User:<br><input type="text" id="v3_user"></label><br>
			  <label>Auth Key:<br><input type="text" id="authKey"></label><br>
			  <label>Auth Protocol:<br><input type="text" id="authProtocol"></label><br>
			  <label>Priv Key:<br><input type="text" id="privKey"></label><br>
			  <label>Priv Protocol:<br><input type="text" id="privProtocol"></label><br><br>

			  <div class="modal-buttons">
				<button type="button" id="saveSettingsBtn">💾 Сохранить</button>
				<button type="button" id="cancelSettingsBtn">↩️ Отменить</button>
				<button type="button" id="defaultSettingsBtn">🔄 По умолчанию</button>
			  </div>
			</form>
		  </div>
		</div>
		<div id="addDeviceModal" class="modal hidden">
		  <div class="modal-content">

			<h3>➕ Добавить устройство</h3>
			<p id="addDeviceError" class="error"></p>
			<div class="add-device-form">

			  <div class="full">
				<label>IP адрес <span class="required">*</span></label>
				<input id="devIp" type="text" required placeholder="192.168.1.10">
			  </div>

			  <div>
				<label>Имя</label>
				<input id="devName" type="text">
			  </div>

			  <div>
				<label>MAC</label>
				<input id="devMac" type="text">
			  </div>

			  <div class="full">
				<label>Описание</label>
				<input id="devDesc" type="text">
			  </div>

			  <div class="full">
				<label>Производитель</label>
				<input id="devOs" type="text">
			  </div>

			</div>

			<div class="modal-actions">
			  <button id="createDeviceBtn">➕ Добавить</button>
			  <button id="closeAddDeviceBtn">Отмена</button>
			</div>

		  </div>
		</div>
		
		<div id="deviceConfigModal" class="modal hidden">
		  <div class="modal-content">

			<h3>Конфигурации устройства</h3>

			<div id="configStatus">
			  <!-- сюда динамически -->
			</div>

			<hr>

			<h4>Сохранить текущую конфигурацию</h4>

			<label>
			  Формат хранения:
			  <select id="configStorage">
				<option value="db">BLOB</option>
				<option value="file">Фаил</option>
			  </select>
			</label>

			<label>
			  Комментарий:
			  <input type="text" id="configComment" placeholder="например: перед обновлением">
			</label>

			<button id="saveConfigBtn">💾 Сохранить</button>
			<button id="ImportConfigBtn">📲️ Импортировать</button>
			<input type="file" id="configFileInput" accept=".cfg,.txt" hidden>
			

			<hr>

			<h4>Сохранённые конфигурации</h4>

			<div id="configsList">
			  <!-- список конфигов -->
			</div>

			<div class="modal-actions">
			  <button onclick="closeDeviceConfig()">Закрыть</button>
			</div>

		  </div>
		</div>
		
		

    </div>

<script src="/static/script.js?v=8"></script>

</body>
</html>